html {
    font-size: 100%;
}

body {
    color: #333;
    font-size: 1rem;
    font-family: "Noto Sans", "Noto Sans JP", sens-serif;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.read-more {
    font-size: 0.875rem;
    text-align: center;
}

.read-more a {
    padding-bottom: 1px;
    color: #333;
    position: relative;
}

.read-more a::after {
    content: ;
}