html {
    font-size: 100%;
}

body {
    color: #333;
    font-size: 1rem;
    font-family: "Noto Sans", "Noto Sans JP", sens-serif;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.read-more {
    font-size: 0.875rem;
    text-align: center;
}

.read-more a {
    padding-bottom: 1px;
    color: #333;
    position: relative;
}

.read-more a::after {
    content: " ";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #333;
    transition: all 200ms ease;
}

.read-more a:hover::after {
    opacity: 0;
    transform: translateY(3px);
}

#header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}

#header .site-title {
    padding: 20px 16px;
    line-height: 1px;
}

#header .site-title a {
    display: inline-block;
}

#navi {
    background-color: #333;
}

#navi a {
    color: #fff;
}

#navi ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navi li {
    font-size: 0.875rem;
    padding: 10px 60px 10px 0px;
}


#pickup {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    margin-bottom: 60px;
}

#pickup article {
    width: 32%;
}

#pickup .article-title {
    font-size: 1rem;
    margin: 10px 0 15px 0;
}

#container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

main {
    width: 65%;
}

main article {
    margin-bottom: 80px;
}

main .article-title {
    font-size: 1.5rem;
    margin: 10px 0 15px 0;
}

main ul{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

main li {
    font-size: 0.875rem;
    margin-right: 20px;
}

main .text{
    padding: 10px 40px 30px 40px;
}